<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/als7lss.css">
    <link rel="stylesheet" href="../styles/desktop2View.css">
    <title>Desktop 2</title>
</head>
<body>
    <nav>
        <div class="logoContainer">
            <p>LOGO</p>
        </div>
        <div class="listContainer">
            <ul>
                <li>
                    <a href="#">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="#">
                        DISCOVERY
                    </a>
                </li>
                <li>
                    <a href="#">
                        PHOTOS
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACT
                    </a>
                </li>
                <li>
                    <img src="../assets/profilePicture.png" alt="Profile Picture">
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <span class="mainOverlay"></span>
        <div class="maintitle">
            <h2>AMAZING PLACES IN AMERICA TO VISIT</h2>
            <div class="mainKind">
                <div  class="kindContainer">
                    <img src="../assets/webIcon.png" alt="World icon">
                    <h1>TRAVEL GUIDE</h1>
                </div>
                <div class="kindContainer">
                    <img src="../assets/topicIcon.png" alt="Paper icon">
                    <h1>WORLD NEWS</h1>
                </div>
            </div>
        </div>
        <div class="mainBottom">
            <div class="mainBy">
                <img src="../assets/avatar.png" alt="Perfil autor">
                <h1>by Steven Voorhees</h1>
            </div>
            <div class="nextStoryBox"> 
                <h2 style="color:#FA6980">NEXT STORY</h2>
                <h2>Morbi eleifend a libero</h2>
                <h2>Quisque vivera interdum velit, et cursus magna sagittis in. In dui dui.</h2>
            </div>
        </div>
    </main>
    <section>
        <aside>
            <h1>Quisque viverra interdum velit?</h1>
            <div class="parragraph">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula inceptos laoreet libero tortor, 
                    nascetur non habitasse iaculis tempor nec egestas fames augue, platea porta integer nostra curae sed arcu. Nec ut diam vulputate ante scelerisque 
                    ridiculus lobortis orci mi curae himenaeos quis, senectus curabitur ullamcorper a porttitor nibh fermentum nisi cum morbi aliquam. Vitae pretium vestibulum dui 
                    gravida in potenti interdum, class rhoncus neque.
                </p>
                <br>
                <p>
                    Ullamcorper porttitor non pharetra cursus nisl mollis pellentesque primis penatibus platea, dictum himenaeos eget mi bibendum ad molestie aliquet curae quis quisque, nunc duis ac at elementum dui integer viverra tempus. Lacinia bibendum diam senectus egestas nec molestie convallis aenean hac tempus, vivamus purus congue euismod fringilla
                </p>
            </div>
            <div class="asideFooterContainer">
                <h2>Small Title - Subtitle</h2>
                <div class="cardTime">
                    <span class="clockIcon"></span>
                    <h6>3h ago by <span>Worldnews</span></h6>
                </div>
            </div>
        </aside>
        <div class="articlesDiv">
            <article>
                <div class="author">
                    <img src="../assets/mensAvatar.png" alt="Jonathan Walker Avatar">
                    <h1>Jonathan Walker</h1>
                </div>
                <div class="articleParragraph">
                    <p>
                        In hac habitasse platea dictumst. Sed nec venenatis odio. Nulla faucibus ipsum sed faucibus accumsan. Donec rhoncus luctus massa vitae lobortis.\
                        Duis consequat, nunc a pretium imperdiet, neque est rhoncus massa, tristique rutrum nisl risus at libero.
                    </p>
                    <div class="cardTime">
                        <span class="clockIcon"></span>
                        <h6>2 min ago</h6>
                    </div>
                </div>
            </article>
            <article>
                <div class="author">
                    <img src="../assets/womenAvatar.png" alt="Brenda Mercer">
                    <h1>Brenda Mercer</h1>
                </div>
                <div class="articleParragraph"> 
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sodales primis, mollis viverra conubia ligula inceptos laoreet libero tortor, nascetur non habitasse iaculis tempor nec egestas fames augue, platea porta integer nostra curae sed arcu. 
                        Nec ut diam vulputate ante scelerisque ridiculus lobortis orci mi 
                    </p>
                    <div class="cardTime">
                        <span class="clockIcon"></span>
                        <h6>2 min ago</h6>
                    </div>
                </div>
            </article>
            <div class="video">
                <img src="../assets/playButton.png" alt="Play Button">
                <img style="position: absolute;" src="../assets/playArrow.png" alt="Arrow">
            </div>
        </div>
    </section>
    <footer>
        <div class="linksContainer">
            <div class="columnsLogo">
                LOGO
            </div>
            <div class="columns">
                Home
                <br>
                Discovery
                <br>
                Photos
                <br>
                Contact
            </div>
            <div class="columns">
                About
                <br>
                Help
                <br>
                Terms
                <br>
                Guildlines
            </div>
            <div class="columns">
                Testimonials
                <br>
                Adverties
                <br>
                Integrations
                <br>
                Careers
            </div>
        </div>
        <div class="emailSection">
            <div class="emailBox">
                <div class="emailContent">
                    <div>
                        Email
                    </div>
                    <div>
                        <img src="../assets/sendButton.png" alt="sendButton">
                    </div>
                </div>
            </div>
            Stay in touch with us for the freshest products!
        </div>
        <div class="socialMedia">
            <img src="../assets/instagram.png" alt="Instagram">
            <img src="../assets/twitter.png" alt="Twitter">
            <img src="../assets/facebook.png" alt="Facebook">
            <img src="../assets/web.png" alt="Web">
        </div>
    </footer>
</body>
</html>